{% extends 'core/base.html' %}

{% load bootstrap4 i18n %}

{% block bootstrap4_title %}
    {% trans 'Authors' %}
{% endblock %}


{% block content %}
    {% if page_obj %}
        {% for author in page_obj %}
            <div>
                {{ author.name }}
                <ul>
                {% for book in author.book_set.all %}
                    <li>
                        {{ book.title }}  {{ book.year }}
                        {% for a in book.authors.all %}
                            {{ a }}
                        {% endfor %}
                    </li>
                {% endfor %}
                </ul>
            </div>

        {% endfor %}
        {% bootstrap_pagination page_obj %}
    {% else %}
    No authors
    {% endif %}
{% endblock %}
