{% extends 'bootstrap4/bootstrap4.html' %}

{% load bootstrap4 i18n %}

{% block bootstrap4_title %}
Library
{% endblock %}

{% block bootstrap4_extra_head %}
    {% bootstrap_javascript jquery='full' %}
{% endblock %}


{% block bootstrap4_before_content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'core:index' %}">Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'core:authors' %}">{% trans 'Authors' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'core:create_author' %}">{% trans 'Create author' %}</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">{% trans 'Logout' %} ({{ request.user.username }})</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'password_change' %}">{% trans 'Change password' %}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:register' %}">{% trans 'Register' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">{% trans 'Login' %}</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block bootstrap4_content %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% block bootstrap4_after_content %}
{% endblock %}
